@tailwind base;
@tailwind components;
@tailwind utilities;

/* تعبيرات مخصصة */
@layer utilities {
  /* Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
}

@font-face {
  font-family: 'Zain';
  src: url('/fonts/Zain-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Zain';
  src: url('/fonts/Zain-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Zain';
  src: url('/fonts/Zain-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff7f0;
  direction: rtl;
  text-align: right;
}
